/* App Step 3: logout*/
body {
	font-family:sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}
li {
	margin:5px;
}
label{
	display:inline-block;
	width:160px;
}
form{
	padding:20px;
	border:2px solid gray;
}
div{
	padding:20px;
	border:2px solid gray;
}

